.blocoLista{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    text-align: center;
    border: 3px outset blue;
}

.blocoPrincipal{
    width: 50%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%;
    margin: 1rem;
}